<!DOCTYPE html>
<html>
<head>
  <title>EngineTemplate</title>
  <%= stylesheet_link_tag    "engine_template/engine_template", media: "all" %>
  <%= javascript_include_tag "engine_template/engine_template" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
